name: PR
on: [pull_request]

jobs:
  pr:
    strategy:
      matrix:
        step: ['cache', 'check', 'test']
    name: ${{ matrix.step }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: denoland/setup-deno@v1
      with:
        deno-version: vx.x.x
    - name: ${{ matrix.step }}
      run: |
        if [ ${{ matrix.step }} == "cache" ]; then
          deno cache --reload mod.ts
        elif [ ${{ matrix.step }} == "check" ]; then
          deno check mod.ts
        else
          deno test --no-check test.ts
        fi
